.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "width" 100;
  }

  /*dark-2 color*/
  .dark-2{
    color: #474747;
  }
  /*nav style*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
   
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}
/*shared style*/
.text-primary{
    color: #FD6E0A;
}
.text-center{
    text-align: center;
}
.background-2nd{
    background-color: #FFF8F3;
    margin:0 auto ;
}
.sec-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sec-descrip{
    color: #757575;
    font-size: 18px;
    font-weight: 200;
}

/*button*/
.btn-primary{
    background-color: #FD6E0A;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    

}
/* headeer */
.headeer{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;

}


/*banner content*/
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 230px;
}

.banner-content{
    max-width: 580px;
}
.banner-h3{
    font-size: 45px;
    font-weight: 600;
}

.banner-h1{
    font-size: 85px;
    font-weight: bold;
}

.banner-p{
    color: #757575;
    font-size: 18px;
    font-weight: 200;
}

.banner-pic{
    width: 584px;
}

/* main style*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
/*about style*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 150px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-size: 20px;
    color: #474747;
    font-weight: bold;
}
.item-title{
    font-size: 20px;
    color: #474747;
    font-weight: 100;
}
/*skill portion*/


.skill{
    margin: 40px 0px 40px 0px;
    padding: 20px;
    box-shadow: 0px 6px 60px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-about{
    color: #181818;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.skill-paragraph{
    color: #474444;
    font-size: 18px;
    font-weight: 100;
    text-align: center;
}
.container{
    display: flex;
    gap: 24px;
    margin: 20px;

}
.skill-descrip{
    text-align: left;
    font-size: 16px;
    color: #757575;

}
/*resume section style*/
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-description{
    color: #757575;
    font-size: 16px;
}
.experience-title{
    font-size: 30px;
    color: #474444;
}
.experience-sub-title{
    font-size: 25px;
    color: #474444;
}
.resime-column-title {
    color: #474747;
    font-size: 30px;
}
.section-title{
    color: #474747;
    font-size: 30px;
    text-align: center;
}
.btn-alline{
    text-align: center;
    margin: 50px;
}